[submodule "docker_ws/src/rf2o_laser_odometry"]
	path = docker_ws/src/rf2o_laser_odometry
	url = https://github.com/MAPIRlab/rf2o_laser_odometry
[submodule "docker_ws/src/camera_ros"]
	path = docker_ws/src/camera_ros
	url = https://github.com/christianrauch/camera_ros
